.Bg4 {
    background-image: url('../../../assets/images/homepage/pattern2.png');
    background-size: cover;
    background-color: #132b3b;
    overflow: hidden;
}

.jjtImg {
    background-image: url('../../../assets/images/homepage/Bgjjt.png');
    background-size: cover;
}
