

:root {
    --teal-050: #effcf6;
    --teal-100: #c6f7e2;
    --teal-200: #8eedc7;
    --teal-300: #65d6ad;
    --teal-400: #3ebd93;
    --teal-500: #27ab83;
    --teal-600: #199473;
    --teal-700: #147d64;
    --teal-800: #0c6b58;
    --teal-900: #014d40;
    --blue-grey-050: #f0f4f8;
    --blue-grey-100: #d9e2ec;
    --blue-grey-200: #bcccdc;
    --blue-grey-300: #9fb3c8;
    --blue-grey-400: #829ab1;
    --blue-grey-500: #627d98;
    --blue-grey-600: #486581;
    --blue-grey-700: #334e68;
    --blue-grey-800: #243b53;
    --blue-grey-900: #102a43;
}
  
  
  
.myBg5 {
    display: flex;
    width: 100%;
    /* background-color: #014d40; */
    height: 70vh;
    overflow-x: hidden;
    overflow-y: visible;
    background-size: cover;
    background-image: url('../../../assets/images/homepage/pattern3.png');
    background-color: #F1F1F1;
    /* background-color: black; */
}


.ship1{
    height: 70vh;
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 8fr 15fr 3fr;
    grid-template-areas:
      "hd hd hd"
      "sd sd sd "
      "ft ft ft";
}

.ship4{
    
    grid-area: ft;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ship2{
    grid-area: hd;
}
.ship3{
    grid-area: sd;
    display: flex;
    align-items: center;
    justify-content: center;
}



.Awan50{
    position: absolute;
    width: 100%;
    height: 206px;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

.Awan3{
    position: relative;
    width: 100%;
    height: 18px;
}
  
.Container {
    position: relative;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto 0 auto;
    background-color: #132B3B;
    border: 2px;
    border-radius: 10px;
    height: 36vh;
    box-shadow: 2px 2px 0px 2px  rgba(0, 0, 0, 0.4);
}

  
.monthIndicator {
    color: #FAFAFA;
    max-width: 100%;
    height: 5vh;
}

.time{
    position: relative;
    top: 15px;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
  
.hari {
    color: #F26628;
}

.keterangan{
    height: 19px;
    width: 170px;
    text-align: center;
    position: relative;
    color: #F26628;
    font-size: 16px;
    left: 140px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.icon20{
    height: 19px;
    width: 250px;
    position: relative;
    top: 4px;
    left:-165px;
    display: flex;
    color: #F26628;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.myBg6{
    max-width: 100%;
    background-color: #FAFAFA;
    height: 28vh;
}
  
.dayOfWeek,
.dateGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
  
.dayOfWeek {
    position: relative;
    top: 10px;
    margin-top: 1.5em;
}
  
.dayOfWeek > * {
    font-size: 0.7em;
    color: #0C2434;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: center;
}
  
  /* Dates */
.dateGrid {
    margin-top: 0.7em;
}
  
  /* Positioning the first day */
.dateGrid button:first-child {
    grid-column:1;
}
  
.dateGrid button {
    position: relative;
    border: none;
    width: 6.5ch;
    height: 5.5ch;
    border-radius: 0;
    background-color: transparent;
    color: #616161;
}
  
.dateGrid button:hover,
.dateGrid button:focus {
    outline: none;
    color: var(--blue-grey-700);
}
  
.dateGrid button:active,
.dateGrid button.is-selected {
    color: var(--teal-900);
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .ship1{
        height: 80vh;
    }

    .myBg5{
        height: 80vh;
    }

    .ship4{
        bottom: 0px;
    }

    .Container{
        height: 45vh;
    }

    .myBg6{
        height: 35vh;
    }

    .Awan50{
        width: 30%;
        right: 0px;
    }
}

@media screen and (min-height: 1000px) and (max-height: 1300px) {
    .dateGrid button {
        
        width: 6.5ch;
        height: 7.5ch;
    }
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
    .ship1{
        height: 80vh;
    }

    .myBg5{
        height: 80vh;
    }

    .ship4{
        bottom: 0px;
    }

    .Container{
        height: 45vh;
    }

    .myBg6{
        height: 35vh;
    }
    .Awan50{
        width: 30%;
        right: 0px;
    }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
    .Awan50{
        width: 50%;
        right: 0px;
    }

    .Awan3{
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    .Awan50{
        display: none;
        width: 50%;
    }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    .ship3{
        width: 90%;
    }
}




