@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Mont-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Mont';
    font-style: italic;
    font-weight: 300;
    src: url('../assets/fonts/Mont-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 350;
    src: url('../assets/fonts/Mont-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Mont';
    font-style: italic;
    font-weight: 350;
    src: url('../assets/fonts/Mont-BookItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Mont-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mont';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/Mont-RegularItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Mont-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mont';
    font-style: italic;
    font-weight: 600;
    src: url('../assets/fonts/Mont-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Mont-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mont';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/Mont-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Samarkan';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/SAMAN___.TTF') format('truetype');
}

@font-face {
    font-family: 'Gill';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/Gill\ Sans\ Bold\ Italic.otf') format('truetype');
}

@font-face {
    font-family: 'Gill';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Gill\ Sans\ Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Gill';
    font-style: italic;
    font-weight: 900;
    src: url('../assets/fonts/Gill\ Sans\ Heavy\ Italic.otf') format('truetype');
}

@font-face {
    font-family: 'Gill';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/Gill\ Sans\ Heavy.otf') format('truetype');
}

@font-face {
    font-family: 'Gill';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/Gill\ Sans\ Italic.otf') format('truetype');
}

@font-face {
    font-family: 'Gill';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Gill\ Sans.otf') format('truetype');
}

@font-face {
    font-family: 'Gill';
    font-style: italic;
    font-weight: 300;
    src: url('../assets/fonts/Gill\ Sans\ Light\ Italic.otf') format('truetype');
}

@font-face {
    font-family: 'Gill';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Gill\ Sans\ Light.otf') format('truetype');
}

@font-face {
    font-family: 'Gill';
    font-style: italic;
    font-weight: 500;
    src: url('../assets/fonts/Gill\ Sans\ Medium\ Italic.otf') format('truetype');
}

@font-face {
    font-family: 'Gill';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Gill\ Sans\ Medium.otf') format('truetype');
}