.light {
    background-image: url('../assets/images/homepage/pattern3.png');
    background-size: cover;
    background-color: #f1f1f1;
}

.dark {
    background-image: url('../assets/images/homepage/pattern2.png');
    background-size: cover;
    background-color: #132b3b;
}
