// .heroImg {
//     background-image: url('../assets/images/homepage/hero-bg.jpg');
// }

.descriptionSection {
    --valley-offset: 70%;
    --valley-width: 1rem;
    --valley-depth: var(--valley-width);

    clip-path: polygon(
        0 0,
        var(--valley-offset) 0,
        calc(var(--valley-offset) + var(--valley-width)) var(--valley-depth),
        100% var(--valley-depth),
        100% 100%,
        calc(100% - var(--valley-offset)) 100%,
        calc(100% - calc(var(--valley-offset) + var(--valley-width)))
            calc(100% - var(--valley-depth)),
        0 calc(100% - var(--valley-depth))
    );
}

@screen md {
    .descriptionSection {
        --valley-offset: 42%;
    }
}

.featuredVideoSection {
    --cut-size: 1.5rem;
    --position-from-end: calc(100% - var(--cut-size));

    clip-path: polygon(
        0 0,
        100% 0,
        100% var(--position-from-end),
        var(--position-from-end) 100%,
        var(--cut-size) 100%,
        0 var(--position-from-end)
    );

    height: calc(100vw * calc(9 / 16));
    max-height: 80vh;
}
