.headerContainer {
    --drop-shadow-offset: 0.5rem;
    --drop-shadow-y-length: var(--drop-shadow-offset);
    filter: drop-shadow(0 var(--drop-shadow-y-length) 0 rgba(0 0 0 / 0.25));
    margin-bottom: var(--drop-shadow-offset);

    --diagonal-offset: 4rem;

    z-index: 99999;
}
@screen md {
    .headerContainer {
        @apply transition duration-300;
    }
    .headerContainer:hover {
        --drop-shadow-y-length: 1rem;
    }
}
/*
TODO: Handle cases where the main page requires 100% ("immersive") height
Some ideas: Use something like useFullHeight/useImmersive/useFullScreen (JS hook)?
For the moment, we can "cheat" by appling a negative margin in the main page div instead (or, alternatively, a negative margin within the header element)
*/

.mainLogoContainer {
    /* --offset-length: 2rem; */
    clip-path: polygon(
        0 0,
        100% 0,
        calc(100% - var(--diagonal-offset)) 100%,
        0 100%
    );
    /* padding-right: 2rem; */
    margin-right: calc(-1 * var(--diagonal-offset));
    padding-right: var(--diagonal-offset) !important; /* The `important` is highly temporary! */
}

.navContainer {
    padding-left: var(--diagonal-offset);
}

/* .mainLogoContainer::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    background-color: yellowgreen;
    height: 100%;
    width: 5rem;
    top: 0;
    left: calc(100% - 2.5rem);
    transform: skewX(-20deg);
} */

.mobileIcon {
    animation: mobileIconAppearAnim 0.25s;
}
@keyframes mobileIconAppearAnim {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
}