.placeholder {
    @apply relative overflow-hidden z-0;
}
.placeholderBg {
    content: '';
    @apply absolute block w-full h-full -z-2 bg-cover bg-center bg-no-repeat transition-transform;
}
.placeholder:is(:hover, :focus-visible) .placeholderBg {
    @apply transform scale-105;
}
.placeholderBg::before {
    content: '';
    @apply absolute block w-full h-full -z-1 bg-black opacity-75 transition-opacity;
}
.placeholderBg, .placeholderBg::before {
    @apply duration-500;
}
.placeholder:is(:hover, :focus-visible) .placeholderBg::before {
    @apply opacity-50;
}

.playIcon {
    /* Make it optically centered */
    transform: translateX(6%);
}
