.AboutWrapper{
  display: flex;
  z-index: 1;
  height: 110vh;
  width: 80%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sizing10{
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
