.Bg2 {
    background-image: url('../../../assets/images/homepage/pattern2.png');
    background-size: cover;
    height: 100vh;
    background-color: #132b3b;
    display: flex;
    overflow: hidden;
}

.box {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .Bg2 {
        width: 117.5%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1150px) {
    .Bg2 {
        width: 117.5%;
    }

    .box {
        width: 100%;
    }
}
