.Bg2 {
    background-image: url('../../../assets/images/homepage/pattern2.png');
    background-size: cover;
    height: 100vh;
    background-color: #132b3b;
    display: flex;
}

.box {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
