.Bg9{
    display: flex;
}


.kotak15{
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: palegreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.kotak20{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 100%;
    height: 100%;
    grid-template-areas:
      "kot1 kot1 kot2 kot2 kot2 kot2 kot2 kot3 kot3";
}

.kotak4{
    grid-area: kot1;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.kotak19{
    grid-area: kot3;
    /* background-color: palevioletred; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.kotak18{
    grid-area: kot2;
    /* background-color: peru; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.kotak5{
    position: relative;
    width: 600px;
    height: 350px;
    background: #224860;
    border-radius: 60px;
    padding: 20px 10px 20px 10px;
    box-shadow: 10px 10px  #0C2434;
    justify-content: center;
    align-items: center;
}

.Awan5{
    position: absolute;
    width: 100%;
    height: 206px;
    left: -85px;
    top: -20px;
}

.kotak7{
    position: absolute;
    width: 254px;
    height: 65px;
    display: flex;
    top: 0px;
    justify-content: center;
    align-items: center;
    background: #F26628;
    border-radius: 0px 45px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 10;
    left: 0px;
}

.kb{
    position: relative;
    width: 222px;
    height: 28px;
    font-family: 'Gill Sans MT';
    font-style: normal;
    left: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;  
    color: #FFFFFF;
    z-index: 20;
    display: flex;
    align-self:center ;
    justify-self: center;
    
}

.kotak8{
    position: absolute;
    width: 90px;
    height: 90px;
    background: #FAFAFA;
    box-shadow: 5px 2px #F26628;
    border-radius: 35px;
    top: 300px;
    display: flex;
}

.logo10{
    position: absolute;
    top: 8px;
    left: 20px;
}

.kotak9{
    position: absolute;
    width: 90px;
    height: 90px;
    background: #FAFAFA;
    box-shadow: 5px 2px #F26628;
    border-radius: 35px;
    top:500px;
}

.logo11{
    position: absolute;
    top: 16px;
    left: 12px;
   
}

.kotak13{
    position: absolute;
    width: 90px;
    height: 90px;
    background: #FAFAFA;
    box-shadow: 5px 2px #F26628;
    border-radius: 35px;
    top:400px;
    
}


.logo12{
    position: absolute;
    top: 16px;
    left: 12px;

}

.kotak11{
    position: absolute;
    width: 90px;
    height: 90px;
    background: #FAFAFA;
    box-shadow: 5px 2px #F26628;
    border-radius: 35px;
    top: 200px;
}

.logo13{
    position: absolute;
    top: 15px;
    left: 16px;
   

}

.kotak12{
    position: absolute;
    width: 90px;
    height: 90px;
    background: #FAFAFA;
    box-shadow: 5px 2px #F26628;
    border-radius: 35px;
    top: 600px;
}

.logo14{
    position: absolute;
    top: 8px;
    left: 15px;
}


@media screen and (min-width: 700px) and (max-width: 1000px) {
    .Awan5{
        width: 30%;
        left: -20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 700px) {
    .Awan5{
        width: 40%;
        left: -20px;
    }
    .kotak5{
        height: 40%;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .kotak7{
        width: 80%;
        height: 20%;
    }

    .kotak5{
        height: 40%;
    }
    .Awan5{
        top: 50px;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .kb{
        left: 50px;
        top: -5px;

    }
}

@media screen and (min-width: 450px) and (max-width: 500px) {
    .kb{
        top: -10px;
        left: 25px;
    }
}



@media screen and (min-width: 320px) and (max-width: 450px) {
    .kotak9{
    display: none;
    }
    .kotak8{
        display: none;
        }
        .kotak13{
            display: none;
            }
            .kotak11{
                display: none;
                }
                .kotak12{
                    display: none;
                    }

                    .kotak5{
                        height: 35%;
                    }

                    .kotak7{
                        width: 70%;
                        height: 20%;
                    }

                    .kb{
                        font-size: 16px;
                        top: -10px;
                        left: 25px;
                    }

      
}


